@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);

:root {
  font-family: Inter, "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.scrollable-content::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
